In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jinka,ET,2022-04-30 20:07:47,5.6500,36.6500,62.04,90,100,2.73
1,1,Albany,US,2022-04-30 19:58:03,42.6001,-73.9662,64.44,26,89,3.00
2,2,Leningradskiy,RU,2022-04-30 20:06:05,69.3833,178.4167,9.64,91,71,4.41
3,3,Bluff,NZ,2022-04-30 20:00:23,-46.6000,168.3333,64.80,66,100,14.05
4,4,Hermanus,ZA,2022-04-30 20:07:48,-34.4187,19.2345,58.93,86,79,3.00

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                              dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). 
# Also, add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Sulangan,PH,2022-04-30 20:07:49,11.1373,123.7228,81.57,78,100,11.97
9,9,Prado,BR,2022-04-30 20:07:49,-17.3411,-39.2208,75.87,81,32,7.27
14,14,Rikitea,PF,2022-04-30 20:03:57,-23.1203,-134.9692,75.92,76,51,12.15
17,17,Kapaa,US,2022-04-30 20:07:51,22.0752,-159.3190,78.78,76,75,19.57
25,25,Hilo,US,2022-04-30 20:07:53,19.7297,-155.0900,77.29,89,100,10.36
28,28,Atuona,PF,2022-04-30 19:59:04,-9.8000,-139.0333,78.89,76,7,13.38
34,34,Sechura,PE,2022-04-30 20:04:52,-5.5569,-80.8222,80.06,56,85,11.99
35,35,Kouroussa,GN,2022-04-30 20:07:56,10.6500,-9.8833,84.40,49,92,5.03
40,40,Tessalit,ML,2022-04-30 20:07:58,20.1986,1.0114,86.34,8,0,8.88
42,42,Goianapolis,BR,2022-04-30 20:07:58,-16.5106,-49.0239,81.68,39,42,4.27

In [19]:
# determine if there are any null values
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
7      Sulangan      PH     81.57  11.1373  123.7228
9         Prado      BR     75.87 -17.3411  -39.2208
14      Rikitea      PF     75.92 -23.1203 -134.9692
17        Kapaa      US     78.78  22.0752 -159.3190
25         Hilo      US     77.29  19.7297 -155.0900
28       Atuona      PF     78.89  -9.8000 -139.0333
34      Sechura      PE     80.06  -5.5569  -80.8222
35    Kouroussa      GN     84.40  10.6500   -9.8833
40     Tessalit      ML     86.34  20.1986    1.0114
42  Goianapolis      BR     81.68 -16.5106  -49.0239

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Sulangan,PH,81.57,11.1373,123.7228,Maia's Beach Resort
9,Prado,BR,75.87,-17.3411,-39.2208,INN CORNER RIVER - PRADO - BAHIA - HOUSING AND...
14,Rikitea,PF,75.92,-23.1203,-134.9692,People ThankYou
17,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
28,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
34,Sechura,PE,80.06,-5.5569,-80.8222,Hospedaje Costa Bella
35,Kouroussa,GN,84.40,10.6500,-9.8833,Hotel Tando Plus
40,Tessalit,ML,86.34,20.1986,1.0114,
42,Goianapolis,BR,81.68,-16.5106,-49.0239,Hotel Tomatão

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))