## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Weligama,LK,83.59,overcast clouds,5.9667,80.4167,NaN
1,5,Rikitea,PF,76.46,overcast clouds,-23.1203,-134.9692,NaN
2,6,Vaini,TO,80.76,light intensity drizzle,-21.2000,-175.2000,NaN
3,7,Bardiyah,LY,70.41,overcast clouds,31.7561,25.0865,NaN
4,10,Isangel,VU,82.26,overcast clouds,-19.5500,169.2667,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt> Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[(clean_hotel_df["City"]=="Roswell")]
vacation_end = clean_hotel_df.loc[(clean_hotel_df["City"]=="Roswell")]
vacation_stop1 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Evans")]
vacation_stop2 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Mount Pleasant")] 
vacation_stop3 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Russell")]

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = clean_hotel_df.loc[(clean_hotel_df["City"]=="Roswell")].to_numpy()
end = clean_hotel_df.loc[(clean_hotel_df["City"]=="Roswell")].to_numpy()
stop1 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Evans")].to_numpy()
stop2 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Mount Pleasant")].to_numpy()
stop3 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Russell")].to_numpy()

print(start,stop1,stop2,stop3)

[[574 'Roswell' 'US' 71.96 'clear sky' 34.0232 -84.3616 nan]] [[376 'Evans' 'US' 73.6 'few clouds' 33.5337 -82.1307 nan]] [[292 'Mount Pleasant' 'US' 73.0 'broken clouds' 32.7941 -79.8626 nan]] [[374 'Russell' 'US' 71.2 'clear sky' 32.3502 -85.1999 nan]]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
Roswell = (34.0232, -84.3616)
Evans = (33.5337, -82.1307)
Mount_Pleasant = (32.7941, -79.8626)
Russell = (32.3502, -85.1999)

fig = gmaps.figure()
travelplans_df = gmaps.directions_layer(
        Roswell, Roswell, waypoints=[Evans, Mount_Pleasant, Russell],
        travel_mode='DRIVING')
fig.add_layer(travelplans_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,574,Roswell,US,71.96,clear sky,34.0232,-84.3616,NaN
1,376,Evans,US,73.60,few clouds,33.5337,-82.1307,NaN
2,292,Mount Pleasant,US,73.00,broken clouds,32.7941,-79.8626,NaN
3,374,Russell,US,71.20,clear sky,32.3502,-85.1999,NaN

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))